.loader {
  /* position: absolute; */
  /* right: 50px; */
  /* display: inline-block; */
  display: none; /* hidden does not work */
  border: 3px solid darkgreen;
  border-top: 3px solid lavender;
  border-bottom: 3px solid lavender;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-bottom: -4px;
  margin-right: 8px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
