@import "../../node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
body { overflow: hidden; }

.hidden { display: none; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-control button { cursor: pointer; }
.ol-mouse-position { bottom: 0; font-size: 80%; top: unset; right: unset; }
.ol-zoom { top: calc(50% - 25px); right: 8px; left: unset; }

#prototype {
  position: absolute;
  width: 100%;
  text-align: center;
  color: brown;
  /* background-color: beige; */
  z-index: 1;
  pointer-events: none;
}
#prototype > h1 { margin: 10px 0; }

.switch {
  left: .5em;
  width: auto;
}
.switch > button {
  width: auto;
  padding: 0 6px;
}

#wizardSwitch { top: .5em; }

