#notification {
  --h: 1rem;
  --pad: 8px;
  background-color: #FFF5;
  bottom: 0;
  /* font-weight: bold; */
  font-size: var(--h);
  max-height: 0;
  overflow: hidden;
  padding: 0 24px 0 var(--pad);
  position: fixed;
  text-align: center;
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
  transition: background-color 2s, max-height 2s, padding 2s;
  width: calc(100% - var(--pad) - 24px);
}

#notification.info, #notification.warn {
  max-height: calc(3 * var(--h));
  padding-top: var(--pad);
  padding-bottom: var(--pad);
}

#notification.info { background-color: #2F79; /* color: #6F116F; */ }
#notification.warn { background-color: #FF9F6F99; }

#notification > span:first-child {
  display: inline-block;
  max-height: calc(3 * var(--h));
  overflow-y: auto;
}

#notification > .x {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
#notification > .x:hover { color: white; }
