.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  cursor: default; /* avoid pointer when a vector layer is underneath popup */
}
#popupContent {
  min-width: 280px;
  max-width: 480px;
  max-height: 420px;
  resize: horizontal;
  overflow: auto;
  width: calc(100% + 12px); /* avoid orizontal scrollbar */
}
#popupContent ul { width: max-content; }
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
#popupCloser {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 18px;
  border: 0;
  background-color: transparent;
}
#popupCloser:after {
  content: '✖';
}