#wizard{
  z-index: 2; /* kan fjernes sammen med Prototype-banner*/
  position: absolute;
  min-width: 368px;
  max-width: calc(100% - 11px);
  min-height: 240px;
  max-height: calc(100% - 11px);
  top: 4px;
  left: 4px;

  /* @media (min-width: 768px) { */
    /* width: 370px; */
    /* height: 320px; */
  /* } */

  resize: both;
  overflow: hidden;

  background-color: lavender;
  border-style: solid;
  border-width: thin;
  border-color: green;
}

.dragHandle {
  cursor: move;
}

#topDragHandle {
  position: absolute;
  height: 45px;
  width: 100%;
}

#sideDragHandle {
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: green;
}

#closeBtn {
  position: absolute;
  top: 3px;
  right: 10px;
  z-index: 1;
}

.x-btn {
  font-size: 26px;
  padding-bottom: 3px;
  transform: translateY(3px);
}

.blue-transition, .green-transition, .red-transition {
  border: none;
  border-radius: 4px;
  background-color: transparent;
  transition-duration: 0.5s;
  transition-property: color, background-color;
  cursor: pointer;
}
.blue-transition:hover { background-color: blue; color: white; }
.green-transition:hover { background-color: darkgreen; color: white; }
.red-transition:hover { background-color: darkred; color: white; }

.custom-btn {
  border-style: solid;
  border-width: thin;
  border-color: green;
  padding: 10px;
  width: 100%;
}
.custom-btn:active {
  /* margin-left: 1px; */
  /* margin-top: 1px; */
  padding-left: 11px;
  padding-right: 9px;
  padding-top: 11px;
  padding-bottom: 9px;
  vertical-align: top;
}

.side-btn {
  /* position: absolute; */
  width: 49%;
}

#layerSelection > p { margin-top: 6px; }
.layerBtn { margin-bottom: 6px; }

#wizardHeader { margin: 12px 20px; }

#wizardSeparator { margin: 0 5px 0 15px; }

.wizardContent {
  margin-left: 10px;
  padding: 10px;
  height: calc(100% - 80px);
  max-height: calc(100vh - 80px);
  overflow: auto;
  text-align: center;
}

#home { margin-bottom: 30px; max-height: calc(100% - 112px); }
#home > p:first-child { margin: 4px 0; }

#drawBtn { margin-top: 12px; }

.pointer { cursor: pointer; }

#layerSelection > ul, #attributes {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#aForm {
  height: calc(100% - 100px);
  max-height: calc(100vh - 199px);
  overflow: auto;
  text-align: initial;
}

#attributes > li {
  border: 2px solid white;
  padding: 4px;
}

#attributes > li > input, #attributes > li > select {
  margin-left: 6px;
  padding: 1px 4px;
}
#attributes > li > input:not([type="checkbox"]) {
  width: calc(100% - 18px);
}
#attributes > li > select { width: calc(100% - 6px); }

#removeBtn { margin-top: 6px; display: none; }
#attributesSelection.merge-surfaces > #removeBtn:before { content: 'Merge'; }
#attributesSelection.remove-border > #removeBtn:before { content: 'Remove'; }
#attributesSelection.remove-border > #removeBtn,
#attributesSelection.merge-surfaces > #removeBtn { display: block; }
#attributesSelection.remove-border > #aForm,
#attributesSelection.merge-surfaces > #aForm { height: calc(100% - 145px);}

#labelChoices {
  margin: auto;
  width: 300px;
  position: absolute;
  bottom: 8px;
  margin-left: 50%;
  transform: translateX(calc(-50% - 20px));
}

.no-wrap { white-space: nowrap; }
